

* {
	box-sizing: border-box;
}
.title {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: rgba (255, 255, 255, 1);
    margin: 0;
    font-size: 1.35em;
}

p {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    display: block;
    text-align: center;
    font-size: 8em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color: purple;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* ================================= 
  Media Queries
==================================== */

@media
    (min-width: 600px){
        .col {flex-basis: initial;}
        display:flex
        flex-wrap:wrap
    }